<ul>
    <li *ngFor="let user of users">
      <span>{{ user.firstName }}</span>
    </li>
  </ul>

<section class="font-poppins overflow-hidden py-4">
    <div class="container mx-auto px-4">
        <div class="rounded-xl border border-neutral-100 bg-neutral-50 py-5">
            <div class="px-6">
                <h3 class="font-poppins pb-8 text-lg font-semibold text-neutral-600">All Users</h3>
                <div class="mb-5 w-full overflow-x-auto">
                    <table class="w-full min-w-max">
                        <thead>
                            <tr class="text-left">
                                <th class="border-b border-neutral-100 pb-3.5">
                                    <a class="inline-flex items-center text-sm font-medium uppercase text-gray-500"
                                        href="#">
                                        <span class="mr-1.5">Id</span>
                                    </a>
                                </th>
                                <th class="border-b border-neutral-100 pb-3.5">
                                    <a class="inline-flex items-center text-sm font-medium text-gray-500" href="#">
                                        <span class="mr-1.5">Name</span>
                                    </a>
                                </th>
                                <th class="border-b border-neutral-100 pb-3.5">
                                    <a class="inline-flex items-center text-sm font-medium text-gray-500" href="#">
                                        <span class="mr-1.5">Email</span>
                                    </a>
                                </th>
                                <th class="border-b border-neutral-100 pb-3.5">
                                    <a class="inline-flex items-center text-sm font-medium text-gray-500" href="#">
                                        <span class="mr-1.5">Access</span>
                                    </a>
                                </th>
                                <th class="border-b border-neutral-100 pb-3.5"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <ng-container *ngIf="users && users.length > 0">
                                <tr *ngFor="let user of users">
                                    <!-- Guid Id -->
                                    <td class="border-b border-neutral-100 py-2.5 pr-4">
                                        <span class="font-medium">{{user.id}}</span>
                                    </td>
                                    <!-- Avatar / Name -->
                                    <td class="border-b border-neutral-100 py-2.5 pr-4">
                                        <div class="flex flex-wrap items-center">
                                            @if (user.imageUrl != null)
                                            {
                                            <img [src]="'/assets/avatar/' + user.imageUrl"
                                                class="rounded-full w-9 h-9 object-cover mr-3" alt="Profile Picture" />
                                            } @else {
                                            <div
                                                class="text-md mr-3 flex h-9 w-9 items-center justify-center rounded-full bg-black font-semibold text-white">
                                                <span>{{ user.firstName[0] }}{{ user.lastName[0] }}</span>
                                            </div>
                                            }
                                            <span class="font-semibold">{{user.firstName}} {{user.lastName}}</span>
                                        </div>
                                    </td>
                                    <!-- Email -->
                                    <td class="border-b border-neutral-100 py-2.5 pr-4">
                                        <span class="font-medium">{{user.email}}</span>
                                    </td>
                                    <!-- Email -->
                                    <td class="border-b border-neutral-100 py-2.5 pr-4">

                                    </td>
                                    <td class="border-b border-neutral-100 py-2.5">
                                        <a asp-page="./Update" asp-route-id="@user.Id" class="inline-flex py-2.5 pr-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="2" stroke="currentColor" class="h-4 w-4 text-slate-500">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                            </svg>
                                        </a>
                                        <a asp-page="./Delete" asp-route-id="@user.Id" class="inline-flex py-2.5 pr-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="2" stroke="currentColor" class="h-4 w-4 text-red-500">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>

                <!-- NUMBER OF PAGES -->
                <div class="-m-2 flex flex-wrap items-center justify-between">
                    <div class="w-auto p-2">
                        <div class="-m-0.5 flex flex-wrap">
                            <div class="w-auto p-0.5">
                                <a class="flex h-9 w-9 items-center justify-center rounded-sm border hover:border-neutral-300"
                                    href="#">
                                    <svg width="7" height="12" viewbox="0 0 7 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6 10.6666L1.33333 5.99998L6 1.33331" stroke="#71717A"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </div>
                            <div class="w-auto p-0.5">
                                <a class="flex h-9 w-9 items-center justify-center rounded-sm border hover:border-neutral-300"
                                    href="#">
                                    <span class="text-sm font-semibold text-neutral-400">1</span>
                                </a>
                            </div>
                            <div class="w-auto p-0.5">
                                <a class="flex h-9 w-9 items-center justify-center rounded-sm border border-neutral-600"
                                    href="#">
                                    <span class="text-sm font-semibold">2</span>
                                </a>
                            </div>
                            <div class="w-auto p-0.5">
                                <a class="flex h-9 w-9 items-center justify-center rounded-sm border hover:border-neutral-300"
                                    href="#">
                                    <span class="text-sm font-semibold text-neutral-400">3</span>
                                </a>
                            </div>
                            <div class="w-auto p-0.5">
                                <a class="flex h-9 w-9 items-center justify-center rounded-sm border hover:border-neutral-300"
                                    href="#">
                                    <span class="text-sm font-semibold text-neutral-400">4</span>
                                </a>
                            </div>
                            <div class="w-auto p-0.5">
                                <a class="flex h-9 w-9 items-center justify-center rounded-sm border hover:border-neutral-300"
                                    href="#">
                                    <svg width="7" height="12" viewbox="0 0 7 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1.33335L5.66667 6.00002L1 10.6667" stroke="#71717A"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </div>
                            <div class="w-auto p-0.5">
                                <a class="flex h-9 w-9 items-center justify-center rounded-sm border hover:border-neutral-300"
                                    href="#">
                                    <svg width="7" height="12" viewbox="0 0 7 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1.33335L5.66667 6.00002L1 10.6667" stroke="#71717A"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                    <svg width="7" height="12" viewbox="0 0 7 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1.33335L5.66667 6.00002L1 10.6667" stroke="#71717A"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="w-auto p-2">
                        <p class="text-sm text-neutral-400">Showing 1 of 20 out of</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>